Your RSA-SHA1 keys have been created. These will be used to allow
your add-on to make secure OAuth 1.0 signed requests to the host.

  {{#bold}}Private Key{{/bold}}: ./private-key.pem
  {{#bold}}Public Key{{/bold}}:  ./public-key.pem

Make sure you don't check these into your source control.
If you're using Git, we've already added these to the .gitignore.